/* @import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap'); */
/* -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lekton', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-image: linear-gradient(
  135deg, #c2c2c2 7.14%,
  #ffffff 7.14%, #ffffff 50%, 
  #c2c2c2 50%, #c2c2c2 57.14%,
  #ffffff 57.14%, #ffffff 100%);
  background-size: 10px 10px;
}
/* IMPORTANT for target */
button > *, a > * {
  pointer-events: none;
}
button:focus, audio:focus {
  outline: none;
}
a {
  color: inherit;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}


/* --------------------- Container --------------------- */
.container {
  position: relative;
  background-color: white;
  height: calc(100vh - 100px);
  width: 520px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box;
  border: 5px solid white;
  outline: 2px solid black;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: scale(0.4) translate(-50%, -50%);
}
.loader.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/* --------------------- Menu Component --------------------- */
.menu {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100% - var(--header-height));
  top: var(--header-height);
  z-index: 2;
  background-color: black;
  overflow-y: auto;
  padding-bottom: var(--header-height);
}
.menu.is-visible {
  display: block;
}
.menu-item {
  position: relative;
  padding: 0 var(--padding-one);
  color: white;
  z-index: 3;
  font-size: var(--font-size-med);
}
.menu-title {
  display: block;
  cursor: pointer;
  font-size: var(--font-size-big);
  height: var(--header-height);
}
.menu-title span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu-title span::before {
  font-family: "Material Icons";
  font-size: 30px;
  font-weight: 400;
  position: relative;
  top: 0.2em;
}
.menu-title span[data-before]::before {
  content: attr(data-before) " ";
}
.menu-content {
  border-top: 1px solid white;
  margin-bottom: calc(var(--padding-one) * 2);
}
.content-text {
  display: block;
  margin-top: calc(var(--padding-one) * 1.4);
  line-height: 1.6em;
  font-weight: 400;
}
.content-text.quote {
  font-size: var(--font-size-sml);
  padding: 10px 10px 10px 15px;
  border-left: 5px solid var(--theme-color);
  background-color: #202020;
}
.content-text.quote i {
  line-height: 0.1em;
  font-size: 16px;
  color: #9c9c9c;
}
.content-text.external::after {
  content: "launch";
  font-family: "Material Icons";
  line-height: 0.1em;
  font-size: 20px;
  color: var(--theme-color-alt);
}
.content-text.external:nth-child(4)::after {
  content: "save_alt";
}


/* --------------------- Swiper --------------------- */
.swiper-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.swiper-container.hidden {
  display: none;
}
.swiper-slide {
  font-size: 18px;
  background: white;
}
.swiper-slide img {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 65vh;
  top: var(--padding-one);
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}
.swiper-slide p {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  top: calc(65vh + var(--padding-one) * 2);
  font-size: var(--font-size-med);
  line-height: 1.4em;
  font-weight: normal;
}
.swiper-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
  height: var(--header-height);
  width: var(--header-height);
  border: 0;
  background-color: transparent;
}


/* --------------------- Header Component --------------------- */
.header {
  position: relative;
  height: var(--header-height);
  z-index: 1;
}
.header > * span, .header > * i {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header-item {
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  min-width: var(--header-height);
  padding: 0 var(--padding-one);
}
.header-left {
  float: left;
  font-size: var(--font-size-big);
}
.header-right {
  float: right;
}
.header-item.inverted {
  color: white;
}
.header-item.inverted:hover {
  color: white;
  background-color: var(--theme-color-alt);
}
.header-left.no-hover {
  pointer-events: none;
}


/* --------------------- Comp Commons --------------------- */
.comp {
  position: relative;
  height: calc(100% - var(--header-height));
  padding: var(--padding-one);
  padding-top: 0;
  font-size: var(--font-size-med);
}
.comp > * p {
  line-height: 1.6em;
}
.button {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: var(--btn-height);
  border: 2px solid black;
  color: black;
  background-color: white;
}
.button.txt {
  font-family: inherit;
  font-size: var(--font-size-big);
  font-weight: 700;
}
.button:hover {
  border: 0;
  background-color: var(--theme-color);
}
.button[disabled] {
  pointer-events: none;
  border: 0;
  color: #9c9c9c;
  background: #f0f0f0;
}


/* --------------------- List Comp --------------------- */
.list-comp {
  overflow-y: auto;
}
.list-message {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.list-item {
  position: relative;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  box-shadow: 5px 5px 0 black;
  cursor: pointer;
}
.item-title {
  color: var(--theme-color-alt);
}
.add-button {
  position: fixed;
  bottom: 90px;
  right: 40px;
  height: var(--add-btn-size);
  width: var(--add-btn-size);
  border-radius: calc(var(--add-btn-size) * 0.5);
}


/* --------------------- New Drift Comp --------------------- */
.textarea {
  display: block;
  position: relative;
  height: calc(100% - var(--btn-height) - var(--padding-one));
  width: 100%;
  margin-bottom: var(--padding-one);
  border: 2px solid #BEBEBE;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  font-size: 0.8em;
  font-family: 'Consolas', monospace;
  line-height: 1.6em;
}
.textarea:focus {
  outline: none;
  border: 2px solid var(--theme-color);
}
.paste-button {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  height: var(--btn-height);
  width: var(--btn-height);
  border: 0;
  background-color: transparent;
  bottom: calc(var(--btn-height) + var(--padding-one) * 2);
}
.paste-button.sample {
  left: var(--padding-one);
}
.paste-button.clip {
  right: var(--padding-one);
}
.lost-button {
  width: 100%;
}


/* --------------------- Preview / Steps Comp --------------------- */
.preview, .steps {
  display: block;
  position: relative;
  height: calc(100% - var(--btn-height) - var(--padding-one));
  margin-bottom: var(--padding-one);
  overflow-y: auto;
}
/* ---------------------------------- */
.preview-item {
  margin-bottom: var(--padding-one);
}
.preview-item.list {
  list-style: none;
  font-size: var(--font-size-sml);
  width: 46%;
  float: left;
}
.preview-item:nth-child(2) {
  color: var(--theme-color-alt);
  padding-right: 5px;
}
.preview-item:nth-child(4) {
  float: right;
  width: 8%;
  text-align: center;
}
.preview-list-item {
  line-height: 1em;
  height: 42px;
}
.preview-list-item.empty {
  color: #9c9c9c;
}
.preview-list-item i {
  display: block;
  position: relative;
  top: -0.3em;
  font-size: 24px;
}
.start-button {
  width: calc(100% -  var(--btn-height) - var(--padding-one));
  float: right;
}
.delete-button {
  width: var(--btn-height);
  float: left;
}
.delete-button:hover {
  color: white;
  background-color: var(--theme-color-alt);
}
/* ---------------------------------- */
.step-item {
  margin-bottom: calc(var(--padding-one) * 1.2);
}
.step-item:first-child p {
  font-size: var(--font-size-big);
  margin-bottom: var(--padding-one);
}
.step-item:nth-child(2) {
  text-align: center;
}
.record-button, .stop-button {
  width: var(--btn-height);
  border-radius: calc(var(--btn-height) * 0.5);
}
.audio-player {
  display: none;
  width: 100%;
}
.step-item.downloader {
  display: none;
  text-align: center;
  font-size: var(--font-size-sml);
  font-weight: 400;
}
.downloader .download-link {
  display: block;
  margin-top: 10px;
}
.next-button {
  width: 100%;
}


/* ===================== For Mobile =================== */
@media (min-width: 620px) {
  :root {
    --header-height: 80px;
    --padding-one: 20px;
    --add-btn-size: 90px;
    --btn-height: 80px;
    --font-size-big: 1.6rem;
    --font-size-med: 1.3rem;
    --font-size-sml: 1.1rem;
    --theme-color: gold;
    --theme-color-alt: crimson;
  }
  .material-icons.md-size { font-size: 36px; }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-thumb {
    background-color: #BEBEBE;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}

/* ===================== For Mobile =================== */
@media (max-width: 620px) {
  :root {
    --header-height: 65px;
    --padding-one: 20px;
    --add-btn-size: 65px;
    --btn-height: 60px;
    --font-size-big: 1.3rem;
    --font-size-med: 1.0rem;
    --font-size-sml: 0.85rem;
    --theme-color: gold;
    --theme-color-alt: crimson;
  }
  .material-icons.md-size { font-size: 24px; }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    height: 100vh;
    width: 100%;
    border: 0;
  }
  .comp { height: calc(100vh - var(--header-height) - 60px); }
  .textarea { font-size: 0.7em; }
  .button:hover {
    border: 0;
    color: #9c9c9c;
    background: #f0f0f0;
  }
  .paste-button { bottom: calc(var(--btn-height) + var(--padding-one) * 2 + 60px); }
  .menu-title span::before { font-size: 20px; }
  .content-text.external::after { font-size: 16px; }
  .preview-item:nth-child(4) { text-align: right; }
}
