@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap');

:root {
  --header-height: 80px;
  --padding-one: 20px;
  --add-btn-size: 90px;
  --btn-height: 80px;
  --font-size-big: 1.6rem;
  --font-size-med: 1.2rem;
  --font-size-sml: 1.0rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lekton', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-image: linear-gradient(
  135deg, #c2c2c2 7.14%,
  #ffffff 7.14%, #ffffff 50%, 
  #c2c2c2 50%, #c2c2c2 57.14%,
  #ffffff 57.14%, #ffffff 100%);
  background-size: 10px 10px;
}
.material-icons.md-size {
  font-size: 32px;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb {
  background-color: #BEBEBE;
  border: 2px solid transparent;
  background-clip: content-box;
}
/* IMPORTANT for target */
button > *, a > * { pointer-events: none; }

button:focus, audio:focus { outline: none; }

a:link, a:visited, a:active { text-decoration: none; }

input, textarea, button, select, a { -webkit-tap-highlight-color: transparent; }

.header > * span, .header > * i, .menu > * span, .menu > * i {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* --------------------- Container --------------------- */
.container {
  position: relative;
  background-color: white;
  height: calc(100vh - 100px);
  width: 500px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: content-box;
  border: 5px solid white;
  outline: 2px solid black;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}
.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: scale(0.4) translate(-50%, -50%);
}
.loader.hidden {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/* --------------------- Menu Component --------------------- */
.menu {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: calc(100% - var(--header-height));
  top: var(--header-height);
  z-index: 2;
  font-size: var(--font-size-big);
  background-color: black;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.menu-item {
  display: block;
  cursor: pointer;
  padding: 0 var(--padding-one);
  height: 0;
  opacity: 0;
  visibility: hidden;
  color: white;
  z-index: 3;
}
.menu-item:hover {
  color: black;
  background-color: white;
}
.menu.is-visible {
  /* display: block; */
  opacity: 1.0;
  visibility: visible;
}

.instructions {
  display: none;
  padding: 0 var(--padding-one);
}
.menu-text {
  color: white;
  font-size: var(--font-size-med);
}
.menu-img {
  width: 100%;
}

/* --------------------- Header Component --------------------- */
.header {
  position: relative;
  height: var(--header-height);
  z-index: 1;
}
.header-item {
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  min-width: var(--header-height);
  padding: 0 var(--padding-one);
}
.header-left {
  float: left;
  font-size: var(--font-size-big);
}
.header-right {
  float: right;
}
.header-item.inverted {
  color: white;
}
.header-item.inverted:hover {
  color: white;
  background-color: crimson;
}
.header-left.no-hover {
  pointer-events: none;
}


/* --------------------- Comp Commons --------------------- */
.comp {
  position: relative;
  height: calc(100% - var(--header-height));
  padding: var(--padding-one);
  padding-top: 0;
}
.button {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: var(--btn-height);
  border: 2px solid black;
  color: black;
  background-color: white;
}
.button.txt {
  font-family: inherit;
  font-size: var(--font-size-big);
  font-weight: bold;
}
.button:hover {
  border: 0;
  color: white;
  background-color: black;
}
.button[disabled] {
  pointer-events: none;
  border: 0;
  color: #9c9c9c;
  background: #f0f0f0;
}

/* --------------------- List Comp --------------------- */
.list-comp {
  overflow-y: auto;
  font-size: var(--font-size-med);
}
.list-message {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.list-item {
  position: relative;
  margin-bottom: 30px;
  border: 2px solid black;
  padding: 15px;
  box-shadow: 5px 5px 0 black;
  cursor: pointer;
}
.list-item p, .list-message p {
  line-height: 1.6em;
}
.item-title {
  color: crimson;
}
.add-button {
  position: fixed;
  bottom: 90px;
  right: 40px;
  height: var(--add-btn-size);
  width: var(--add-btn-size);
  border-radius: calc(var(--add-btn-size) * 0.5);
}


/* --------------------- New Drift Comp --------------------- */
.textarea {
  display: block;
  position: relative;
  height: calc(100% - var(--btn-height) - var(--padding-one));
  width: 100%;
  margin-bottom: var(--padding-one);
  border: 1px solid #BEBEBE;
  padding: 10px;
  resize: none;
  overflow-y: auto;
  font-size: var(--font-size-sml);
  font-weight: normal;
  font-family: 'Consolas', monospace;
  line-height: 1.4em;
}
.textarea:focus {
  outline: none;
  border: 1px solid crimson;
}
.paste-button {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  height: var(--btn-height);
  width: var(--btn-height);
  border: 0;
  background-color: transparent;
  /* background-color: gold; */
  bottom: calc(var(--btn-height) + var(--padding-one) * 2);
}
.paste-button.sample {
  left: var(--padding-one);
}
.paste-button.clip {
  right: var(--padding-one);
}
.paste-button[hidden] {
  display: none;
}
.lost-button {
  width: 100%;
}


/* --------------------- Preview / Steps Comp --------------------- */
.preview, .steps {
  display: block;
  position: relative;
  height: calc(100% - var(--btn-height) - var(--padding-one));
  margin-bottom: var(--padding-one);
  overflow-y: auto;
  font-size: var(--font-size-med);
}
.preview-item, .step-item {
  margin-bottom: var(--padding-one);
}

/* --------------------------------- */
.preview-item.list {
  list-style: none;
  font-size: var(--font-size-sml);
  width: 45%;
  float: left;
}
.preview-item.org {
  color: crimson;
}
.preview-item.boxes {
  float: right;
  width: 10%;
}
.preview-list-item {
  line-height: 1.4em;
  height: 36px;
}
.preview-list-item.box {
  text-align: center;
}
.preview-list-item.empty {
  color: #9c9c9c;
}
.preview-list-item a {
  color: inherit;
}
.preview-list-item i {
  display: block;
  position: relative;
  top: -0.2em;
  font-size: 24px;
}
.start-button {
  width: calc(100% -  var(--btn-height) - var(--padding-one));
  float: right;
}
.delete-button {
  width: var(--btn-height);
  float: left;
}
.delete-button:hover {
  background-color: crimson;
}

/* --------------------------------- */
.step-item.dir {
  font-size: var(--font-size-big);
  line-height: 1.4em;
}
.record-button, .stop-button {
  width: var(--btn-height);
  border-radius: calc(var(--btn-height) * 0.5);
}
.record-button:hover, .stop-button:hover {
  background: crimson;
  color: white;
}
.audio-player {
  width: 100%;
}
.audio-player.hidden {
  display: none;
}
.download-div {
  display: none;
  text-align: center;
  font-size: var(--font-size-sml);
  line-height: 1.8em;
}
.download-div .download-link {
  display: block;
  margin-top: 10px;
  color: inherit;
}
.next-button {
  width: 100%;
}


/* ===================== For Mobile =================== */
@media (max-width: 600px) {

  :root {
    --header-height: 70px;
    --padding-one: 20px;
    --add-btn-size: 70px;
    --btn-height: 60px;
    --font-size-big: 1.4rem;
    --font-size-med: 1.1rem;
    --font-size-sml: 0.9rem;
  }
  .material-icons.md-size {
    font-size: 28px;
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    height: 100vh;
    width: 100%;
    border: 0;
  }
  .loader img {
    top: 45%;
  }
  .comp {
    height: calc(100vh - var(--header-height) - 60px);
  }
  .button:hover {
    border: 0;
    color: #9c9c9c;
    background: #f0f0f0;
  }
  .paste-button {
    bottom: calc(var(--btn-height) + var(--padding-one) * 2 + 60px);
  }
}
